* {
  margin: 0;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #menu-button {
  display: none;
}



#cssmenu > ul > li {
  float: right;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#cssmenu.align-center ul ul {
  text-align: left;
}

#cssmenu.align-right > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #44b9ba;
  font-family: Nirmala UI;
}


#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}


#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#cssmenu ul ul ul {
  margin-right: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 100%;
  margin-right: 0;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }

  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #44b9ba;
    border-bottom: 2px solid #44b9ba;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #44b9ba;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #44b9ba;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #44b9ba;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }

}


body{
margin: 0px;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Roboto';
}

a
{
outline: none !important;
}

a:link   
{   
 text-decoration:none;
 color:#ffffff;   
}   

a:visited {
    color: #ffffff;
}


.logo{
  padding-left:20px;
  width: 20%;
  float: left;
  position: absolute;
}

.container {
margin:auto;
background-color: #ffffff;
}

.container-fluid {
margin:auto
}

.row {
margin:auto;
}

.caja1 {
float: left;
width: 50%;
}

.caja2 {
  float: left;
  width: 50%;
  text-align: center;
}

.contenido {
    position: relative;
     margin: auto;
     margin-top: 25%;
     right: 0;
     bottom: 0;
     left: 0;
}

.contenido2 {
    position: relative;
     float: none;
     margin-top: 55%;
     text-align: center;
}


.formulario {
border: 1px solid #44b9ba;
border-radius: 10px;
width: 65%;
margin-left: 6%;
padding: 10px;
margin-top: 5%;
margin-left: 15%;
}

.form{
  margin:auto;
  font-size:11px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width:60%;
  padding:10px;
  border:none;
  color: #44b9ba;
  float: left;
}

  .form:hover{
    color: #303030;
  }


  input, textarea {
    margin-left: 5px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    color: #44b9ba;
    font-style: italic;

  }

  .form-btn{
    width:160px;
    height: 30px;
    padding:2px;
    color:#fff;
    background:#bde062;
    border:none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
     box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    margin-right: -10px;
  }

  .form-btn:active{
    opacity: 0.9;
  }

.text {
  position:absolute;
  background-color:white;
  opacity:0.8;
  text-align:center;
  padding:15px;
  margin-left: 30%;
  margin-top: 10%;
  display: inline-block;
  margin-right: 30%;
}

.titles {
  font-family:Rounded Elegance; 
  font-size:18pt;
  color: #a62984;
}

.titles2 {
  font-family:Rounded Elegance; 
  font-size:14pt;
  color: #a62984;
}

body::-webkit-scrollbar {
    width: 0.7em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #a62984;
  outline: 1px solid #8430a6;
}


@media all and (max-width: 425px) {
.titles {
  font-family:Rounded Elegance; 
  font-size:12pt;
  color: #a62984;
}

.titles2 {
  font-family:Rounded Elegance; 
  font-size:11pt;
  color: #a62984;
}

.formulario {
border: 1px solid #44b9ba;
border-radius: 10px;
padding: 5px;
width: 100%;
text-align: center;
margin-left: -10px;
margin-top: 10px;
}

.form{
  font-size:11px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  width:100%;
  padding:10px;
  border:none;
  color: #44b9ba;
  float: none;
}

  .form:hover{
    color: #303030;
  }


  input, textarea {
    margin-left: 5px;
    padding: 9px;
    margin: auto;
    box-sizing: border-box;
    color: #44b9ba;
    font-style: italic;

  }

  .form-btn{
    width:100px;
    height: 30px;
    padding:2px;
    color:#fff;
    background:#bde062;
    border:none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
     box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    margin-right: -10px;
  }

  .form-btn:active{
    opacity: 0.9;
  }

.text {
  position:absolute;
  background-color:white;
  opacity:0.8;
  text-align:center;
  padding:15px;
  margin-left: 30%;
  margin-top: 10%;
  display: inline-block;
  margin-right: 30%;
}

.container {
margin:auto;
background-color: #ffffff;
}

.container-fluid {
margin:auto
}

.row {
margin:auto;
}

.caja1 {
position: relative;
float: none;
width: 80%;
text-align: center;
left: 10%
}

.caja2 {
  position: relative;
  float: none;
  width: 80%;
  top: -30px;
  left: 10%;
  text-align: center;
  background: #fff;
}

.contenido {
    position: relative;
     margin: auto;
     margin-top: 30%;
     right: 0;
     bottom: 0;
     left: 0;
}

.contenido2 {
    position: relative;
     float: none;
     margin-top:5%;
     text-align: center;
     background: #ffffff;
}

.logo{
  padding-left:0px;
  width: 200px;
  float: left;
  position: absolute;
  top:0px;
}


}

